#doorstep{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #333333;

    .polygon1,
    .polygon2{
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: url('../../sources/polygon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .polygon1{
        rotate: 180deg;
    }
    .polygon2{
        top: 0
    }

    .etr-btn{
        @include media-breakpoint-medium-down{
            padding: 0.25em 0.75em;
        }

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-family: $font-family-default;
        font-size: to-rem(16);
        letter-spacing: to-rem(2);
        text-decoration: none;
        text-transform: uppercase;
        color: $mantle;
        cursor: pointer;
        border: 3px solid;
        padding: to-rem(16) to-rem(48);
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover{
            cursor: pointer;
            .btn-text{
                font-size: to-rem(20);
            }
        }
        &:active {
            position: fixed;
            top: 50%;
            left: 50%;
            bottom: auto;
            right: auto;
            box-shadow: 0px 0px 0px 0px;
        }

        .btn-text{
            color: $nomad;
        }
    }
}