$body-background: #333333 !default;
$font-white: #EEEDE7 !default;
$shark: #2A2F33 !default;
$nomad: #BBB6A5 !default;
$mantle: #8C9491 !default;
$mantle--light: #8c94913d !default;
$manatee: #8C8C9C !default;
$iphone-black: 	#212124 !default;
$iphone-btn-dark: rgb(90, 90, 90);
$iphone-btn-operator: rgb(255, 141, 12);