$font-family-default: 'Roboto', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;
$font-family-slab: 'Roboto Slab', serif;
$font-family-condensed: 'Roboto Condensed', sans-serif;
$font-family-icon: 'FontAwesome';
$font-family-mono2: 'Source Code';
$font-family-marketing: 'DIN Alternate';
$font-family-iphone-calc: 'Arial';